{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создать букет - БукетМастер{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Создание нового букета</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'bouquet_list' %}" class="btn btn-secondary">Отмена</a>
                        <button type="submit" class="btn btn-primary">Создать букет</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
